In [108]:
from data_pre_processing import DataPreProcessing as dpp

In [109]:
dpp = dpp()
dpp.load_data("data")
df = dpp.get_data()
df

,Date,Open,High,Low,Close,Volume,Currency,Name,Average
100908,2010-07-18,0.000000,0.100000,0.100000,0.100000,75.0,USD,bitcoin,0.100000
100909,2010-07-19,0.100000,0.100000,0.100000,0.100000,574.0,USD,bitcoin,0.100000
100910,2010-07-20,0.100000,0.100000,0.100000,0.100000,262.0,USD,bitcoin,0.100000
100911,2010-07-21,0.100000,0.100000,0.100000,0.100000,575.0,USD,bitcoin,0.100000
100912,2010-07-22,0.100000,0.100000,0.100000,0.100000,2160.0,USD,bitcoin,0.100000
...,...,...,...,...,...,...,...,...,...
37542,2022-08-23,6.518492,6.634426,6.516209,6.615155,7247303.0,USD,Helium,6.575317
36736,2022-08-23,5.281915,5.370975,5.281915,5.347439,22045730.0,USD,Convex Finance,5.326445
36274,2022-08-23,122.800000,124.900000,122.600000,123.300000,100601.0,USD,bitcoin cash,123.750000
115277,2022-08-23,0.302884,0.303980,0.302204,0.302571,74432072.0,USD,Algorand,0.303092
127744,2022-08-23,1.035831,1.038505,1.033890,1.036848,17040932.0,USD,Trust Wallet Token,1.036197

In [110]:
%matplotlib inline

In [111]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [112]:
from sklearn.model_selection import train_test_split


X = df[['Date', 'Open', 'High', 'Low', 'Volume', 'Name']]
y = df['Close']

X_encoded = pd.get_dummies(X, columns=['Name'], drop_first=True)

x_train, x_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((102196, 102), (25549, 102), (102196,), (25549,))

In [113]:
x_train['Date'] = pd.to_datetime(x_train['Date'])
x_train['DayOfWeek'] = x_train['Date'].dt.dayofweek
x_train['Month'] = x_train['Date'].dt.month
x_train['DayOfMonth'] = x_train['Date'].dt.day
x_train['Year'] = x_train['Date'].dt.year

x_test['Date'] = pd.to_datetime(x_test['Date'])
x_test['DayOfWeek'] = x_test['Date'].dt.dayofweek
x_test['Month'] = x_test['Date'].dt.month
x_test['DayOfMonth'] = x_test['Date'].dt.day
x_test['Year'] = x_test['Date'].dt.year

x_train.drop('Date', axis=1, inplace=True)
x_test.drop('Date', axis=1, inplace=True)

x_train.head()

,Open,High,Low,Volume,Name_Aave,Name_Algorand,Name_ApeCoin,Name_Arweave,Name_Axie Infinity,Name_BNB,...,Name_tron,Name_uniswap,Name_unus sed leo,Name_usd coin,Name_wrapped bitcoin,Name_xrp,DayOfWeek,Month,DayOfMonth,Year
126913,0.000048,0.000057,0.000048,105690702.0,False,False,False,False,False,False,...,False,False,False,False,False,False,0,6,6,2022
7418,90.050000,95.000000,85.180000,2654470.0,False,False,False,False,False,False,...,False,False,False,False,False,False,3,2,10,2022
28739,18.201021,18.552019,17.830347,145349017.0,False,False,False,False,True,False,...,False,False,False,False,False,False,1,8,16,2022
66179,81.323196,90.233200,80.663597,1264440.0,False,False,False,False,False,False,...,False,False,False,False,False,False,3,2,15,2018
65364,6.311691,6.653785,4.120306,7750384.0,False,False,False,True,False,False,...,False,False,False,False,False,False,5,9,5,2020

In [114]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [115]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score


model = LinearRegression(copy_X=True, n_jobs=-1).fit(x_train, y_train)
y_pred = model.predict(x_test)

train_mse = mean_squared_error(y_test, y_pred)
train_r2 = r2_score(y_test, y_pred)

print(f"Loss: {train_mse}, r2: {train_r2}")

Loss: 23973.707950117612, r2: 0.999188777492837