In [1]:
from data_pre_processing import DataPreProcessing as dpp

In [2]:
dpp = dpp()
dpp.load_data("data")
dpp.get_data()

,Date,Open,High,Low,Close,Volume,Currency,Name,Average
100908,2010-07-18,0.000000,0.100000,0.100000,0.100000,75.0,USD,bitcoin,0.100000
100909,2010-07-19,0.100000,0.100000,0.100000,0.100000,574.0,USD,bitcoin,0.100000
100910,2010-07-20,0.100000,0.100000,0.100000,0.100000,262.0,USD,bitcoin,0.100000
100911,2010-07-21,0.100000,0.100000,0.100000,0.100000,575.0,USD,bitcoin,0.100000
100912,2010-07-22,0.100000,0.100000,0.100000,0.100000,2160.0,USD,bitcoin,0.100000
...,...,...,...,...,...,...,...,...,...
37542,2022-08-23,6.518492,6.634426,6.516209,6.615155,7247303.0,USD,Helium,6.575317
36736,2022-08-23,5.281915,5.370975,5.281915,5.347439,22045730.0,USD,Convex Finance,5.326445
36274,2022-08-23,122.800000,124.900000,122.600000,123.300000,100601.0,USD,bitcoin cash,123.750000
115277,2022-08-23,0.302884,0.303980,0.302204,0.302571,74432072.0,USD,Algorand,0.303092
127744,2022-08-23,1.035831,1.038505,1.033890,1.036848,17040932.0,USD,Trust Wallet Token,1.036197

In [3]:
%matplotlib inline

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd