In [4]:
from data_pre_processing import DataPreProcessing as dpp

In [5]:
dpp = dpp()
dpp.load_data("data")
dpp.get_data()

,Date,Open,High,Low,Close,Volume,Currency,Name
0,2018-01-25,0.136822,0.136822,0.135573,0.136039,4921770.0,USD,Zilliqa
1,2018-01-26,0.135555,0.159557,0.091337,0.119375,13714100.0,USD,Zilliqa
2,2018-01-27,0.118157,0.120932,0.091614,0.100976,7967360.0,USD,Zilliqa
3,2018-01-28,0.101224,0.112499,0.095968,0.097296,20910700.0,USD,Zilliqa
4,2018-01-29,0.097167,0.099824,0.077958,0.089272,12441600.0,USD,Zilliqa
...,...,...,...,...,...,...,...,...
127740,2022-08-18,1.089421,1.091592,0.999733,1.008351,15273203.0,USD,Trust Wallet Token
127741,2022-08-19,1.007909,1.134748,0.926370,1.026453,56565040.0,USD,Trust Wallet Token
127742,2022-08-20,1.026093,1.114057,1.024951,1.065833,34050071.0,USD,Trust Wallet Token
127743,2022-08-21,1.065821,1.106039,1.065163,1.078729,13310806.0,USD,Trust Wallet Token
127744,2022-08-23,1.035831,1.038505,1.033890,1.036848,17040932.0,USD,Trust Wallet Token